.item-details {
    padding: 1rem;
    margin: 0
}

.item-details img {
    width: 320px;
}

.item-details,
.item-details img {
    border-radius: .25rem
}

.item-details ul {
    padding: 0
}

.item-details ul li {
    list-style: none;
    font-size: 1.2em;
    border-bottom: 1px solid #444;
    margin: 0 0 0.5rem 0
}

.item-details ul li:first-child {
    font-size: 1.5em
}

.wrapper-loader {
    height: 100%;
    display: flex;
    justify-content: center;
}